node_modules/
dist/
build/
.vite/
.vscode/
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
/.turbo
/.idea/
*.log
*.tgz
/.cache/
/.parcel-cache/
/.pnp.cjs
/.pnp.loader.mjs
dist-ssr/
public/build/
/.history/node_modules
dist
.env
.env.local
.DS_Store
